@supports (-webkit-hyphens: none) {
  @font-face {
    font-family: 'NotoColorEmoji';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Noto-SBIX.woff2) format('woff2');
  }
  @font-face {
    font-family: 'NotoColorFlags';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Noto-SBIX-flagsonly.woff2) format('woff2');
    unicode-range: U+1f1e6-1f1ff, U+200d, U+2620, U+26a7, U+fe0f, U+1f308, U+1f38c, U+1f3c1, U+1f3f3-1f3f4, U+1f6a9, U+e0062-e0063, U+e0065, U+e0067, U+e006c, U+e006e, U+e0073-e0074, U+e0077, U+e007f;
  }
}

@supports not (-webkit-hyphens: none) {
  @font-face {
    font-family: 'NotoColorEmoji';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Noto-COLRv1.woff2) format('woff2');
  }
  @font-face {
    font-family: 'NotoColorFlags';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Noto-COLRv1-flagsonly.woff2) format('woff2');
    unicode-range: U+1f1e6-1f1ff, U+200d, U+2620, U+26a7, U+fe0f, U+1f308, U+1f38c, U+1f3c1, U+1f3f3-1f3f4, U+1f6a9, U+e0062-e0063, U+e0065, U+e0067, U+e006c, U+e006e, U+e0073-e0074, U+e0077, U+e007f;
  }
}
